<h1>Movies with the same director as <%= @movie.title %></h1>

<p><strong>Director:</strong> <%= @movie.director %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date.strftime('%Y-%m-%d') if movie.release_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to movie details', movie_path(@movie) %> |
<%= link_to 'Back to all movies', movies_path %>
